---
import MainHeading from "./mainHeading.astro";
import { localizePath } from "astro-i18next";
import { t } from "i18next";
import { Image } from "astro:assets";
import Button from "./button.astro";
import Link from "./Link.astro";
---
<section class="contactus">
    <div class="container">
        <div class="row gap-1">
            <!-- info contact -->
            <div class="col-6-lg col-12-md"></div>
            <!-- form -->
            <div class="col-6-lg col-12-md"></div>
        </div>
    </div>
</section>