---
import { t } from "i18next";
---
<section class="map">
    <div class="container">
        <div class="row  ">
            
            <div class="col-5-md col-12-sm order">
                <div class="info">
                    <p class="title">{t("contact.title")} </p>
                    <p class="des">{t("contact.des")}</p>
                    <ul class="linksInfo">
                        <li>
                            <i class="fa-light fa-headset"></i>
                            <a href="/" target="_blank">+(974) 70707294</a>
                        </li>
                        <li>
                            <i class="fa-regular fa-location-dot"></i>
                            <p >{t("contact.location")}</p>
                        </li>
                        <li>
                            <i class="fa-brands fa-facebook-f"></i>
                            <a href="https://www.facebook.com/profile.php?id=100093193835771&mibextid=LQQJ4d" target="_blank">ilsorbetto</a>
                        </li>
                        <li>
                            <i class="fa-brands fa-instagram"></i>
                            <a href="https://www.instagram.com/ilsorbetto/?igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank">ilsorbetto</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
            <div class="col-7-md col-12-sm">
                <iframe class="map_iframe" style="width: 100%;height: 100%;" src="https://maps.google.com/maps?&amp;hl=en&amp;q=IL Sorbetto&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    section{
        min-height: 60vh;
        .title{
            font-size: 28px;
            font-weight: 800;
            color: var(--main-d);
            padding-bottom: 15px;
        }
        .des{
            font-size: 18px;
            font-weight: 500;
            color: var(--main-l);
            
        }
        .linksInfo{
            padding-top: 30px;
            li{
                padding-top: 25px;
                display: flex;
                align-items: center;
                &:first-child{
                    padding-top: 0;
                }
                i{
                    font-size: 24px;
                    color: var(--hover);
                    margin-right: 15px;

                }
                a,p{
                    font-size: 16px;
                    color: var(--main-l);

                }
            }
        }
    }
    .map_iframe{
        width: 100%;
        min-height:60vh ;
        border: none;
    }
</style>